@import "./variable.scss";
/*根据dpr计算font-size*/
@mixin font_dpr($font-size){
  font-size: $font-size;
  /* 像素比data-dpr="2"表示缩小两倍，那就让显示的字体放大两倍*/
  [data-dpr="2"] & { font-size: $font-size * 2;}
  [data-dpr="3"] & { font-size: $font-size * 3;}
}
/*通过该函数设置字体大小，后期方便统一管理；*/
@mixin font_size($size){
  /* 这个像素比的混合函数在属性font_size中调用 */
  @include font_dpr($size);
}
// 不换行
@mixin no-wrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
// 限制行数
@mixin clamp($row){
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$row;
}

// 设置字体颜色规范(激活)
@mixin font_active_color(){
  color: $font-active-color-theme;
}


//设置行高
@mixin line_height(){
  // line_height这个函数默认设置的书的行间距
  line-height:$line-height-mode4;
  padding-top:$padding-top-mode4;
  [data-line-height=mode1] & {
    line-height: $line-height-mode3;
    padding-top:$padding-top-mode3;
  }
  [data-line-height=mode2] & {
    line-height:$line-height-mode2;
    padding-top:$padding-top-mode2;
  }
}

